<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moon Travel</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="welcome">
      <h1>Moon Travel</h1>
      <a class="btn" href="oferta">ENTER</a>
    </div>

    <canvas id="canvas"></canvas>

  </body>
  <script src="/js/master.js" charset="utf-8"></script>
  <script src="/js/canvas.js" charset="utf-8"></script>
</html>
